<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="/src/view/css/styles2.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="/src/view/js/app.js"></script>
</head>

<body>
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="#"><img id="navBarLogo" src="/src/view/imgs/UWIVotes.png" alt=""></a></li>
                    <li><a href="#" id="navVoteNow" class="redLink">Vote Now</a></li>
                    <li><a href="#" id="navCandidates" class="redLink">Candidates</a></li>
                    <li><a href="#" id="navResults" class="redLink">Results</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="#" id="navSignIn" class="blackLink">Log Out</a>
                </ul>
            </div>
       </div>

       <div class="pageText">
            <h2>Candidates</h2>
       </div>
    
        <div class="content">
            <div class="electTitle"><h4>______ Elects</h4></div>
            <div class="elects">
                <div class="candidate">
                    <div class="candidatePhoto">
                        <img class="candidatePhoto" src="/src/view/imgs/universityStudent1.png" alt="Picture of University 1">
                    </div>
                    <div class="candidateInfo">
                        <h3>Xavier Himmer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Duis commodo erat nunc, at elementum erat aliquam sit amet. 
                            Nulla quis tortor arcu. Quisque faucibus venenatis efficitur. 
                            Nam et tellus ut magna suscipit aliquet. 
                            Aliquam nec ornare nisi, in sagittis diam. </p>
                        <button class="redButton">See Candidate Profile</button>
                    </div>
                    
                </div>
                <div class="senScore">
                    <h4>Sentiment</h4>
                    <ul>
                        <li>20 <br>
                            OVERALL SCORE</li>
                        <li>20 <br>
                            CHANGE</li>
                        <li>MAR-20-2022 <br>
                            DATE</li>
                    </ul>
                </div>
            </div>
            
           <!-- <br> <div class="electTitle"><h4>Guild President Elects</h4></div>
            <div class="candidateInfo">
                    <p>Picture</p>
                    <h3>Xavier Himmer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Duis commodo erat nunc, at elementum erat aliquam sit amet. 
                        Nulla quis tortor arcu. Quisque faucibus venenatis efficitur. 
                        Nam et tellus ut magna suscipit aliquet. 
                        Aliquam nec ornare nisi, in sagittis diam. </p>
                    <button class="redButton">See Candidate Profile</button>
                </div>
            <div class="sentimentScore">
                <h4>Sentiment</h4>
                <p>+20</p>
                <p>+20</p>
                <p>MAR-20-2022</p>
            </div> -->
            </div>
        </div>
    </div>
    
    <aside>

    </aside>

</body>
</html>