<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="/src/view/css/styles.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="/src/view/js/app.js"></script>
</head>

<body>
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="#"><img id="navBarLogo" src="/src/view/imgs/UWIVotes.png" alt=""></a></li>
                    <!--<li><a href="#" id="navVoteNow" class="redLink">Vote Now</a></li> -->
                    <li><a href="#" id="navCandidates" class="redLink">Candidates</a></li>
                    <li><a href="#" id="navResults" class="redLink">Results</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="#" id="navSignIn" class="blackLink">Log Out</a>
                </ul>
            </div>
       </div>
       <h3>CANDIDATES PAGE</h3>

    </div>
    
    <aside>

    </aside>

</body>
</html>