<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="styles.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="index.js"></script>
</head>

<body>
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
        
        
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><img id="navBarLogo" src="/src/imgs/UWIVotes.png" alt=""></li>
                    <li><a href="" class="redLink">Candidates</a></li>
                    <li><a href="" class="redLink">Results</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="" class="blackLink">Sign In</a>
                </ul>
            </div>
       </div>
        
        
        <!-- <div class="nav">
           
            <div class="navListLeft">
                <ul>
                    <li><img id="navBarLogo" src="/src/imgs/UWIVotes.png" alt=""></li>
                    <li><a href="" class="redLink">Candidates</a></li>
                    <li><a href="" class="redLink">Results</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <ul>
                    <a href="" class="blackLink">Sign In</a>
                </ul>
            </div>            
        </div> -->
    
        <div class="headerPicture">
            <!-- <p>image</p> -->
            <img id="headerImage" src="/src/imgs/headerImage.png" alt="">
        </div>
    
        <div class="content">
            <!-- <p>content</p> -->
            <img id="bodyLogo" src="/src/imgs/UWIVotes.png" alt="">
            <h2>First time using UWIVotes?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Praesent pulvinar sapien augue, at molestie arcu imperdiet sit amet. 
                Integer quis nulla eu velit varius scelerisque.</p>
            <form>
                <label for="email">Email</label><br>
                <input class="input" type="text" id="email" placeholder="johndoe@uwimona.edu.jm"><br>
                <br>
                <input class="redButton" type="submit" value="Sign Up">
                <a href="" class="redLink">Already have your verification code?</a>
            </form>
        </div>
    </div>
    
    
    
    


    <!--
    <div id="homePage">
        <div class="headerPicture">
            <header>
                <ul>
                    <li><img id="headerLogo" src="/src/imgs/UWIVotes.png" alt=""></li>
                    <li><a href="" class="redLink">Candidates</a></li>
                    <li><a href="" class="redLink">Results</a></li>
                </ul>
                <a href="" class="blackLink">Sign In</a>
            </header>
        </div>
        <br><br><br>
    
        <div class="content">
            <img id="headerImage" src="/src/imgs/headerImage.png" alt="">
            <img id="bodyLogo" src="/src/imgs/UWIVotes.png" alt="">
            <h2>First time using UWIVotes?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Praesent pulvinar sapien augue, at molestie arcu imperdiet sit amet. 
                Integer quis nulla eu velit varius scelerisque.</p>
        
            <form>
                <label for="email">Email</label><br>
                <input class="input" type="text" id="email" value="johndoe@uwimona.edu.jm"><br>
                <input class="redButton" type="submit" value="Sign Up">
                <a href="" class="redLink">Already have your verification code?</a>
            </form>
        </div>
    </div> 
-->
    <aside>

    </aside>


</body>
</html>