<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="/src/view/css/styles.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="/src/view/js/app.js"></script>
</head>

<body>
    <div class="homePage"> <!-- <p>navbar</p> -->
       
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul> 
                    <li><a href="/src/view/index.html"><img id="navBarLogo" src="/src/view/imgs/UWIVotes.png" alt=""></a></li>
                    <li><a href="" id="navCandidates" class="redLink">Candidates</a></li>
                    <li><a href="" id="navResults" class="redLink">Results</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="/src/view/logIn.html" id="navSignIn" class="blackLink">Sign In</a>
                </ul>
            </div>
       </div>

       <div class="pageText">
            <p>Welcome to</p>
            <img id="bodyLogo" src="/src/view/imgs/UWIVotes.png" alt="">
       </div>
    

        <div class="leftContent">
            <!-- <p>image</p> -->
            <h2>Sign In with your One Time Password</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Praesent pulvinar sapien augue, at molestie arcu imperdiet sit amet. 
                Integer quis nulla eu velit varius scelerisque.</p>
            <form>
                <!--need to be changed from email-->
                <label for="email">One Time Password</label>
                <br>
                <input class="input" type="text" id="email" placeholder="johndoe@uwimona.edu.jm"><br>
                <br>
                <input class="redButton" type="submit" value="Sign Up">
            </form>
        </div>
    
        <div class="rightContent">
            <!-- <p>content</p> -->
            
            <h2>Log In</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <form>
                <label for="email">Email</label><br>
                <input class="input" type="text" id="email" placeholder="johndoe@uwimona.edu.jm"><br>
                <br>
                <label for="password">Password</label><br>
                <input class="input" type="text" id="password" placeholder="*******"><br>
                <br>
                <input class="redButton" type="submit" value="Log In">
                <a href="" class="redLink">Forgot your password?</a>
            </form>
        </div>
    </div>
    
    <aside>

    </aside>

</body>
</html>