<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="/src/view/css/styles.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="/src/view/js/app.js"></script>
</head>

<body>
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="/src/view/index.html"><img id="navBarLogo" src="/src/view/imgs/UWIVotes.png" alt=""></a></li>
                    <li><a href="" id="navVoteNow" class="redLink">Vote Now</a></li>
                    <li><a href="" id="navCandidates" class="redLink">Candidates</a></li>
                    <li><a href="" id="navResults" class="redLink">Results</a></li>
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                    <a href="" id="navSignIn" class="blackLink">Log Out</a>
                </ul>
            </div>
       </div>

       <div class="pageText">
            <h2>Place Your Vote</h2>
       </div>
    
        <div class="leftContent">
            <h3>Guild President</h3>
            <p>Place your vote for by clicking one of the following candidates:</p>
            <form action="/action_page.php">
              <input type="radio" id="candidate1" name="candidates" value="">
              <label for="candidate1">Emily Radowski</label><br>
              <input type="radio" id="candidate2" name="candidates" value="">
              <label for="candidate2">Xavier Himmer</label><br>
              <input type="radio" id="candidate3" name="candidates" value="">
              <label for="candidate3">Naomi Benjamin</label><br>
              <input type="radio" id="candidate4" name="candidates" value="">
              <label for="candidate4">Alana Thompson</label><br>
              <input type="submit" class="redButton" value="Next">
              </form>
            </form>
              
        </div>
    
        <div class="rightContent">
           <!-- <input type="submit" class="redButton" value="Next"> -->
           <h3>1/15</h3>
        </div>
    </div>
    
    <aside>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </aside>

</body>
</html>