<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>UWIVotes</title>
    <link  rel="stylesheet" href="/src/view/css/styles.css" type="text/css">
   <!-- <link rel="icon" href="imgs/bug.png"> -->
    <script src="/src/view/js/app.js"></script>
</head>
 <!----> 
 <!---cd Desktop/UWI\ 2022/SWEN3920/weKAN   -->
<body>
    <div class="homePage"> <!-- <p>navbar</p> -->
        <div class="nav">
            <div class="navListLeft">
                <!-- <p>left</p> -->
                <ul>
                    <li><a href="#"> <img id="navBarLogo" src="/src/view/imgs/UWIVotes.png" alt=""></a></li>
                    <!--<li><a href="#" id="navCandidates" class="redLink">Candidates</a></li>
                    <li><a href="#" id="navResults" class="redLink">Results</a></li> -->
                </ul>
            </div>
            <div class="navListRight">
                <!-- <p>right</p> -->
                <ul>
                   <!-- <a href="#" id="navSignIn" class="blackLink">Sign In</a> -->
                </ul>
            </div>
       </div>

       <div class="pageText">

       </div>
    
        <div class="leftContent"> 
            <!-- <p>image</p> -->
            <!--choose another image-->
            <img id="headerImage" src="/src/view/imgs/headerImage.png" alt="">
        </div>
    
        <div class="rightContent">
            <!-- <p>content</p> -->
            <br><br><br><br>
            <br><br><br><br>
            <img id="bodyLogo" src="/src/view/imgs/UWIVotes.png" alt="">
            <h2>Ready to Vote?</h2>
            <p>Put explanation of how once they start vote it must go on. Blah blah.</p>
             <input id="startStudentBallott" class="redButton" type="submit" value="Begin">
        </div>
    </div>
    
    <aside>

    </aside>

</body>
</html>