html {
}

/**page arrangement**/
.homePage{
  display: grid;
  grid-template-areas:
    'topBar     topBar    topBar    topBar    topBar'
   /* 'topBar     topBar    topBar    topBarRight    topBarRight'*/
    'picture    picture   content   content   content'
    'picture    picture   content   content   content';
  grid-gap: 10px;
  margin: 0px;
}

.nav{
  grid-area: topBar;
  display: grid;
  grid-template-areas:
   'topBarLeft     topBarLeft    topBarLeft    topBarLeft    topBarRight';
  grid-gap: 10px;
  margin: 0px;

  /*border: 1px solid;
  padding: 10px;*/
  /*
  box-shadow: 5px 10px 20px#888888;*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
  padding: 20px; 
  margin-top: -6px;
  margin-left: -15px;
  margin-right: -15px;
}

.navListLeft{
  grid-area: topBarLeft;
}

.navListLeft > ul > li{
  float: left;
  padding-left: 20px;
}

.navListRight{
  grid-area: topBarRight;
}

/*
.nav > ul > li{
  float: left;
  padding: 10px;
} */

/*
.floatLeftList > ul > li{
  float: left;
  padding: 10px;
}

.floatLeftRight > ul > li{
  grid-area: topBarRight;
  float: right;
  padding: 10px;
}
*/
.headerPicture{
  grid-area: picture;
  
}

.content{
  grid-area: content;
  max-width: 500px;
  padding-top: 30px;
  
}

#headerImage {
  max-height: 500px;
} 

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #E45656;
  font-weight: 600;
}

#navBarLogo{
  width: 100px;

}

#bodyLogo{
  max-width: 250px;
}

ul{
  display: inline;
  list-style-type: none;
}

.input {
  background: #fafafa;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1.5px solid #939393;
  border-radius: 9px;
  font-size: 12px;
  width: 300px;
}

label{
  color: #7C7C7C;
}

.redButton {
  background-color: #e45656;
  color: white;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 2px;
  border-style: none;
  font-weight: 600;
  font-size: 14px;
}


 /* body {
  width: 1000px;
    height: 1000px;
    background-color: red;
} */
/*
.UWIVotesLogo {
  display: inline;
}


header {
  box-shadow: 0px 10px rgba(0, 0, 0, 0.074);
  margin-left: -9px;
  margin-right: -9px;
}

header > ul > li {
  list-style-type: none;
  display: inline;
}

.redLink {
  color: #e45656;
}

.blackLink {
  color: black;
}



.redButton {
  background-color: #e45656;
  color: white;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 2px;
  border-style: none;
}





#headerLogo {
  height: 20px;
}

#bodyLogo {
  height: 40px;
}

.bodyLogo {
}

*/
